<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css ">

<nav>
  <div class="nav-wrapper">
    <a href="" class="brand-logo"><img src="/images/logo3.png" alt="Logo"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/paciente/agendamento">Nova consulta</a></li> {{!-- DELETE NO BANCO --}}
      <li><a href="/paciente/list">Histórico de consulta</a></li> {{!-- FIND One NO BANCO --}}
      <li><a href="/paciente/edit/personal/{{user._id}}">Corrigir dados pessoais</a></li> {{!-- UPDATE NO BANCO --}}
      <li><a href="/logout">Logoff</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="center">
    <script language=javascript type="text/javascript">
      // Mensagem de bom dia/tarde/noite
      let d = new Date()
      let hora = d.getHours()
      if (hora < 12)
        document.write("<h3>Bom dia {{user.name}}</h3>")
      else {
        if (hora > 17)
          document.write("<h3>Boa noite {{user.name}}</h3>")
        else
          document.write("<h3>Boa tarde {{user.name}}</h3>")
      }
    </script>

    <h1>Agendar nova consulta</h1>
    <script language=javascript type="text/javascript">
      now = new Date;
      hora = new Date;
      document.write("A data de hojé é: " + now.getDate() + " do " + (now.getMonth() + 1) + " de " + now.getFullYear());
    </script>
    </p>
    </script>
    </p>
  </div>

  {{!-- login form --}}
  <form class="login" action="/paciente/agendamento" method="POST">
    <div class="row">
      <div class="col s12 14 offset-14">
        <div class="card">
          <div class="card-action">
            <p>
              <label>
                <input value="Particular" name="group1" type="radio" checked />
                <span>Particular</span>
              </label>
            </p>
            <p>
              <label>
                <input value="{{user.healthInsurance}}" name="group1" type="radio" />
                <span id="medical-insurance">Convênio: {{user.healthInsurance}}
                  <strong>
                    <p>{{specialties}}</p>
                  </strong>
                </span>
              </label>
            </p>
          </div>
          <div class="card-content">

            {{!-- Speciality --}}
            <div class="form-field">
              <select name="specialty" class="browser-default" id='doctorSpecialty' required>
                <option value="" disabled selected>Escolha a especialidade</option>
                {{#each specialty}}
                <option>{{this}}</option>
                {{/each}}
              </select>
            </div><br>

            {{!-- Doctor --}}
            <div class="form-field">
              <select name="doctor" class="browser-default" id='doctors' required>
                <option value="" disabled selected>Escolha seu médico</option>
                <option id="doctorOption"></option>
              </select>
            </div><br>

            {{!-- Day of the week  MODIFIED--}}
            <div class="form-field">
              <input class="datepicker" name="date" id="date" type="date">
            </div><br>

            {{!-- Hour --}}
            <div class="form-field">
              <select name="hour" class="browser-default" id='hours' required>
                <option value="" disabled selected>Escolha seu horário</option>
                <option id="hourOption"></option>
              </select>
            </div><br>
            <div class="form-field center-align">
              <input id="button" class="btn-large red" type="submit" value="Enviar">
            </div><br>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>


{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script>

 $(document).ready(function(){
    $('.datepicker').datepicker();
  });
          
</script>
 --}}
