<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css ">

<nav>
  <div class="nav-wrapper">
    <a href="" class="brand-logo"><img src="/images/logo3.png" alt="Logo"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/paciente/agendamento">Nova consulta</a></li> {{!-- DELETE NO BANCO --}}
      <li><a href="/paciente/list">Histórico de consulta</a></li> {{!-- FIND One NO BANCO --}}
      <li><a href="/paciente/edit/personal/{{user._id}}">Corrigir dados pessoais</a></li> {{!-- UPDATE NO BANCO --}}
      <li><a href="/logout">Logoff</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <form action="/paciente/edit/personal/{{patient._id}}" method="POST">
    <div class="row">
      <div class="col s12 14 offset-14">
        <div class="card">
          <div class="card-action red white-text">
            <h3>Corrigir dados pessoais</h3>
          </div>
          <div class="card-content">
            <div class="form-field">
              <label for="">Nome:</label>
              <input type="text" name="name" value="{{patient.name}}">
            </div><br>

            <div class="form-field">

              <label for="">CPF:</label>
              <input type="text" name="cpf" value="{{patient.cpf}}">
            </div><br>

            <div class="form-field">
              <label for="">Data de nascimento:</label>
              <input type="text" name="birthdate" value="{{patient.birthdate}}">
            </div><br>

            <div class="form-field">
              <label for="">Telefone residencial:</label>
              <input type="text" name="telResidencial" value="{{patient.telResidencial}}">
            </div><br>

            <div class="form-field">
              <label for="">Celular:</label>
              <input type="text" name="cellphone" value="{{patient.cellphone}}">
            </div><br>

            <div class="form-field">
              <label for="">Plano de saúde:</label>
              <input type="text" name="healthInsurance" value="{{patient.healthInsurance}}">
            </div><br>
            <div class="form-field center-align">
              <input id="button" class="btn-large red" type="submit" value="Enviar">
            </div><br>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>