<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css ">
<link rel="stylesheet" href="/stylesheets/printer.css">


<nav>
  <div class="nav-wrapper">
    <a href="" class="brand-logo"><img src="/images/logo3.png" alt="Logo"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/paciente/agendamento">Nova consulta</a></li> {{!-- DELETE NO BANCO --}}
      <li><a href="/paciente/list">Histórico de consulta</a></li> {{!-- FIND One NO BANCO --}}
      <li><a href="/paciente/edit/personal/{{user._id}}">Corrigir dados pessoais</a></li> {{!-- UPDATE NO BANCO --}}
      <li><a href="/logout">Logoff</a></li>
    </ul>
  </div>
</nav>


<div class="form-field center-align">
  <a onclick="window.print()" id="button" class="btn-small red sumir center" type="submit" value="Login">Imprimir</a>
</div>


<br>

<div class="container">
  <h2 class="center">Imprima seu agendamento</h2>
  <page size="A4">

    <div class="header">

      <h6 style="font-weight: bold;">
        Health Plus
      </h6>
      <br>Alameda Jaú, 1301 - Jardim Paulista, São Paulo - SP - São Paulo - 01420-001
      <br>34.932.500/0001-83 - (11) 3748-5394
      <br>
      <br>
      <hr>
      <h5>Agendamento - Consulta médica</h5>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Convênio</th>
          <th>Especialidade</th>
          <th>Doutorª</th>
          <th>Dia da semana</th>
          <th>Hora da consulta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: center;">{{patient.group1}}</td>
          <td style="text-align: center;">{{patient.specialty}}</td>
          <td style="text-align: center;">{{patient.doctor}}</td>
          <td style="text-align: center;">{{patient.date}}</td>
          <td style="text-align: center;">{{patient.hour}}</td>
        </tr>
      </tbody>
    </table>
  </page>

</div>